extends layouts/main
include mixins/videoPlayer


block content
    .video__detail-container
        .video__player
            +videoPlayer({
                fileUrl:`/${video.fileUrl}`
            })
        .video__info
            .video__header
                h1=video.title
                h5=`${video.views} views`
        .video__description
            h3=video.description
        .video__author
            |Uploaded by: 
            a(href=routes.userDetail(video.creator.id))
                span.video__author-name=video.creator.name
        .video__comments
            if video.comments.length === 1
                span.video__comment-number 1 Comment
            else
                span.video__comemnt-number #{video.comments.length} Comments
            form.comments__add#jsAddCommentForm
                input(type="text" placeholder="Write a Comment" name="comment" id="jsCommentInput")
            ul.video__comments-list
                each comment in video.comments
                    li=comment.text
        if(loggedUser && video.creator.id === loggedUser.id)
                .video__edit
                    a(href=routes.editVideo(video.id) class="blue_btn") Edit Video


