extends layouts/main

block content
    .video_player
        video(src=`/${video.fileUrl}` controls=true)
    .video_info
        a(href=routes.editVideo(video.id)) Edit Video
        h1=video.title
        h5=video.views
        h3=video.description
    .video_comments
        if video.comments.length === 1
            span.video__comment-number 1 Comment
        else
            span.video__comemnt-number #{video.comments.length} Comments


